@page "/"
@using BillReader.Cliente.Services.Interfaces
@inject IAuthService AuthService
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Que bola!</h1>

<p>Este es el proyecto que me mandaste que tiene todo</p>
<p>Ojo el usuario normal solo ve el listado y este mensaje y el admin ve lo demás</p>
<p>Ya cuando la api core x 1era vez crea el usuario admin con las contraseña admin xq sino no entra nadie</p>
<p>Espero que este bien</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (!await AuthService.IsAuthenticatedAsync())
        {
            Navigation.NavigateTo("/login", true);
        }
    }
}